extends layout

block content
    div.solo-view
        md-card
            md-card-title
                md-card-title-text
                    h1.
                        Login
            md-card-content
                form(name='login',action='/login',method='post')
                    div(layout="column")
                        if messages && messages.error
                            show-toast(toast='#{messages.error[0]}',toast-theme='default-warn')
                        md-input-container
                            label.
                                E-mail
                            input(name='username')
                        md-input-container
                            label.
                                Pasword
                            input(name='password',type='password')
                        div(layout="column" layout-align="center end")
                            md-button(class="md-primary",type="submit").
                                Login
