@import '../../node_modules/angular-material/angular-material.scss';
@import '../../node_modules/angular-material/layouts/angular-material.layout-attributes.scss';
@import '../../node_modules/angular-material/layouts/angular-material.layouts.scss';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';

$icon-size: 25px;
$icon-height: 40px;

body {
    background-color: #eee;
}
.solo-view {
    padding-top: $baseline-grid; //$icon-height + ($baseline-grid * 2);
    padding-left: $icon-height + ($baseline-grid * 2);
    padding-right: $baseline-grid;
    @media(min-width: $layout-breakpoint-sm) {
        padding-right: $icon-height + ($baseline-grid * 2);
    }
}
.app-panel {
    background: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
    >md-content {
        height: 100%;
    }
    >.md-toolbar-tools {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}
.md-dialog-fullscreen {
    width: 80%;
}
md-card-title {
    >h1,
    >h2,
    >h3,
    >h4,
    >h5,
    >h6 {
        margin: 0px;
    }
}
md-sidenav[md-component-id="main-side-nav"] {
    .md-icon-buton.home {
        &:before {
            font-family: 'FontAwesome';
            content: '\f015';
            font-size: $icon-size;
        }
        &:hover {
            texts-decoration: none;
        }
    }
    md-list-item {
        padding: 0px;
        .md-button {
            display: block;
            width: 100%;
            text-align: left;
            margin: 0px;
        }
    }
}
.left-icon {
    @extend .md-icon-button;
    @extend .md-raised;
    position: absolute;
    margin: 0px !important;
    left: $baseline-grid;
    &:before {
        font-family: 'FontAwesome';
        font-size: $icon-size;
    }
    &:hover, &:focus {
        border: none;
        text-decoration: none;
    }
    &.one {
        top: $baseline-grid;
    }
    &.two {
        top: $icon-height + ($baseline-grid * 2);
    }
}
#toggle-nav {
    @extend .left-icon;
    @extend .left-icon.one;
    &:before {
        content: '\f0c9';
    }
}
.md-icon-button.close-dialog {
    &:before {
        font-family: 'FontAwesome';
        content: '\f00d';
        font-size: $icon-size;
    }
}
md-toast.md-error-theme .md-toast-text {
    text-transform: uppercase;
}
@import '../../../node_modules/user-resource-container/angular/src/css/_user';
