<div class="solo-view">
<div class="form-group">
    <label for="selectedLayer">Layer</label>
    <select name="selectedLayer" class="form-control" ng-model="selectedLayer" ng-options="l as l.name for l in layers">
        <option value="">Layer</option>
    </select>
</div>
<div class="form-group">
    <label for="selectedFeature">Feature</label>
    <input type="text" class="form-control" name="selectedFeature"
           placeholder="Feature name"
           ng-model="selectedFeature"
           uib-typeahead="f as f.featureName for f in findFeature($viewValue)" />
</div>
<div ng-if="selectedFeature._id" class="clearfix">
    <div class="pull-right"><go-to-feature feature="selectedFeature" label="Put it on the map"></go-to-feature></div>
</div>
</div>
