<md-button id="toggle-nav" class="md-raised md-icon-button" ng-click="toggle()" aria-label="Toggle main menu">
    <md-tooltip md-direction="right">Expand menu</md-tooltip>
</md-button>
<md-sidenav md-component-id="main-side-nav" class="md-sidenav-left" md-whiteframe="4">
    <md-toolbar class="md-toolbar-tools">
        <md-button href="/" class="md-icon-buton home" aria-label="Home"></md-button>
        <h2 flex md-truncate>Welcome {{me.fname}}</h2>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item><md-button class="md-primary" href="#!/user-profile">Profile</md-button></md-list-item>
            <md-list-item ng-if="me.isAdmin()"><md-button href="#!/user-administration">User Administration</md-button></md-list-item>
            <md-divider></md-divider>
            <map-menu></map-menu>
            <md-divider></md-divider>
            <md-list-item><md-button class="md-accent" href="/logout">Log out</md-button></md-list-item>
        </md-list>
    </md-content>
</md-sidenav>
